.click-events button {
    padding: 8px;
    font-size: 1.2em;
    border: none;
    background-color: brown;
    color: blanchedalmond;
}

.click-events button:hover {
    background-color: blanchealmond;
    color: brown;

}

.bubble {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: auto;
}

.bubble div {
    width: 100px;
    height: 100px;
    background-color: pink;
    margin: auto;
    color: pink;

}

form {
    margin: 10px;
}

form input {
    border: none;
    background-color: brown;
    color:blanchedalmond;
    font-size: 1.1em;
    padding: 4px;
}

form input[type="text"]{
    border: 3px dotted green;
}
